.responsive-container {
    background: rgb(235, 232, 232);
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* Default size for larger screens */
    width: 50%;
    max-width: 800px;
    min-width: 300px;
  }
  
  /* Adjust width for smaller screens */
  @media (max-width: 768px) {
    .responsive-container {
      width: 80%;
    }
  }
  
  /* Further adjustments for very small screens */
  @media (max-width: 480px) {
    .responsive-container {
      width: 95%;
    }
  }

.recom{
    background: rgb(235, 232, 232);
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* Default size for larger screens */
    width: 50%;
    max-width: 800px;
    min-width: 300px;

}
  
  /* Adjust width for smaller screens */
  @media (max-width: 768px) {
    .recom {
      width: 80%;
    }
  }
  
  /* Further adjustments for very small screens */
  @media (max-width: 480px) {
    .recom {
      width: 95%;
    }
  }


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-size: 14px;
    display: block;
    margin: 10px 0 5px;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(209, 205, 205);
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: transparent;
    color: #007BFF;
}

.form-section{
    background-color:  transparent;
}

.recommendations{
    background-color: transparent;
}
